@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');
.menu{
    display: inline-block;
    font-size: 14px;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px;
    margin-right: 80px;
}
.cabezera{
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: -8px;
    margin-left: 147px;
}
header{
    position: fixed;
    top: 0;
    width:100%;
    background: white;
    height: 100px;
}
.fondos_portada{
    width: 100%;
    height: 800px;
    opacity: value;
    
}
div{
    display: block;
}
.imagenes{
    width: 10px;
}
.productos{
    width: 300px;
}
.logito{
    margin-top: 20px;
    margin-left: 20px;
    ;
}
.contacto_boton{
    background: greenyellow;
    border-radius: 50px;
    border-color: greenyellow;
    width: 150px;
    height: 40px;
}
.img_welcome{
    border-radius: 35px;
    margin-left: 150px;
    box-shadow: 0px 0px 36px 20px #6c381e;
    width: 360px;
}
.text_bienvenido{
    font-family: 'Oleo Script', cursive;
    font-size: 55px;
    font-weight: 900;
    color: #c66300;
}
div .caja_text_bienvenido{
    text-align: left;
}
.caja_text_bienvenido{
    margin-top: 100px;
}
.caja_img_welcome{
    margin-top: 100px;
}
.row{
    margin-left: 110px;
}
.mini_bio_bienvenido{
    font-size: 35px;
    font-family: 'Palanquin', sans-serif;
    font-weight: 700;
    padding-top: 20px;
    
}
.mini_bio_bienvenido_2{
    font-family: 'Cardo', serif;
    font-size: 13px;
    font-weight: 700;
    padding-top: 20px;
}
.mas_de_nosotros_boton_de_bienvenido{
    text-align: center;
    color: white;
    font-family: 'Jura', sans-serif;
    padding-top: 8px;
    font-size: 13px;
    padding-left: 25px;
    letter-spacing:2px;
    
}

.boton_mas_nosotros{
    margin-left: 1px;
    border-radius: 20px;
    width: 265px;
    height: 41px;
    margin-top: 33px;
    background: #232323;
    box-shadow: 0px 0px 11px 0px #c66300;
    
}
.boton_mas_nosotros:hover{
  transition: all 1.5s;
  margin-left: 30px;
  background: orange;
}
.flechita{
    width: 21px;
    margin-left: 30px;
}
.productos_titulo{
    text-align: center;
    margin-top: 300px;
    font-family: 'Oleo Script';
    margin-bottom: 100px;
    color: #c66300;
}

footer{
    background: chocolate;
    margin: auto;
    width: 100%;
}
.contactos_pie_text{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 56px;
    font-family: 'Cardo';
    font-weight: 600;
    color: white;
}

.telefono_caja h3{
    padding-left: 50px;
    padding-bottom: 22px;
    font-family: 'Oleo Script';
    font-size: 40px;
}
.telefono_caja h5{
    padding-left: 10px;
    font-size: 23px;
    font-family: fantasy;
    padding-bottom: 75px;
}
.redes_sociales_caja h3{
    text-align: center;
    font-family: 'Oleo Script';
    font-size: 40px;
    padding-bottom: 22px;
}
.redes_sociales_caja li{
    display: inline-block;
    padding-left: 50px;
}
.ubicanos_caja h3 {
    padding-left: 133px;
    font-size: 40px;
    font-family: 'Oleo Script';
    padding-bottom: 22px;
}
.ubicanos_caja h5{
    text-align: center;
    padding-left: 21px;
    font-family: fantasy;
    font-size: 23px;
}
    
